<div class="about">
  <div class="container about__container">
    <picture class="about__image">
      <source srcset="./../img/category/about-img.webp" type="image/webp">
      <img loading="lazy" src="./../img/category/about-img.png" class="image" width="700" height="700" alt="">
    </picture>
    <article class="about__content">
      <section class="about__info">
        <h2 class="about__title">Christmas sales in on</h2>
        <p class="about__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod odio aliquam nostrum, officiis ratione assumenda, dignissimos quo qui fuga natus culpa et modi labore voluptatem voluptatum odit. Excepturi, impedit enim.</p>
        <a href="#" class="btn about__btn">Read more</a>
      </section>

      <div class="about__icons">
          <section class="about__icon">
            <img src="./../img/category/icon-1.png" alt="icon">
              <p class="about__text">Christmas Trees</p>
          </section>
          <section class="about__icon">
            <img src="./../img/category/icon-2.png" alt="icon">
              <p class="about__text">Christmas Trees</p>
          </section>
          <section class="about__icon">
            <img src="./../img/category/icon-3.png" alt="icon">
              <p class="about__text">Christmas Trees</p>
          </section>
      </div>
    </article>
  </div>
  </div>
