<div class="offer">
  <picture>
    <source srcset="../../img/banner.avif" type="image/avif">
    <source srcset="../../img/banner.webp" type="image/webp">
    <img loading="lazy" src="../../img/banner.jpg" class="image" width="" height="" alt="">
  </picture>
  <div class="container offer__container">
    <section class="offer__content">
      <p class="offer__suptitle">Special Offer</p>
      <p class="offer__title">Upto 50% Off</p>
      <p class="offer__text">Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit. Cupiditate, Numquam</p>
      <a href="" class="btn offer__btn">Shop Now</a>
    </section>
  </div>
</div>
