<div class="offer">
  <div class="container offer__container">
    <section class="offer__content">
      <p class="offer__suptitle">Special Offer</p>
      <p class="offer__title">Upto 50% Off</p>
      <p class="offer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum libero quae quis expedita hic eligendi dicta minus, corporis iure, quas quaerat minima voluptates magnam numquam doloremque qui! Voluptate, amet officiis!</p>
      <a href="" class="btn offer__btn">Shop Now</a>
    </section>
  </div>
</div>
