<div class="shop">
  <h1 class="shop__title">Our Shop</h1>
  <div class="container shop__container ">
    <article class="shop__box">
      <section class="shop__image">
        <picture class="shop__Image">
          <source srcset="./../img/product-1.avif" type="image/avif">
          <source srcset="./../img/product-1.webp" type="image/webp">
          <img loading="lazy" src="./../img/product-1.png" class="image" width="194" height="250" alt="">
        </picture>
        <section class="shop__icons">
          <div class="shop__icon">
            <img loading="lazy" src="./../img/eye-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/like-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/share-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
        </section>
      </section>
      <section class="shop__content">
        <h3 class="shop__boxTitle">Christmas Decore</h3>
        <p class="shop__price">$249.99 <span class="shop__oldPrice"> $289.99</span></p>
        <a href="" class="btn shop__btn">Add To Cart</a>
      </section>
    </article>
    <article class="shop__box">
      <section class="shop__image">
        <picture class="shop__Image">
          <source srcset="./../img/product-1.avif" type="image/avif">
          <source srcset="./../img/product-1.webp" type="image/webp">
          <img loading="lazy" src="./../img/product-1.png" class="image" width="194" height="250" alt="">
        </picture>
        <section class="shop__icons">
          <div class="shop__icon">
            <img loading="lazy" src="./../img/eye-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/like-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/share-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
        </section>
      </section>
      <section class="shop__content">
        <h3 class="shop__boxTitle">Christmas Decore</h3>
        <p class="shop__price">$249.99 <span class="shop__oldPrice"> $289.99</span></p>
        <a href="" class="btn shop__btn">Add To Cart</a>
      </section>
    </article>
    <article class="shop__box">
      <section class="shop__image">
        <picture class="shop__Image">
          <source srcset="./../img/product-1.avif" type="image/avif">
          <source srcset="./../img/product-1.webp" type="image/webp">
          <img loading="lazy" src="./../img/product-1.png" class="image" width="194" height="250" alt="">
        </picture>
        <section class="shop__icons">
          <div class="shop__icon">
            <img loading="lazy" src="./../img/eye-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/like-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/share-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
        </section>
      </section>
      <section class="shop__content">
        <h3 class="shop__boxTitle">Christmas Decore</h3>
        <p class="shop__price">$249.99 <span class="shop__oldPrice"> $289.99</span></p>
        <a href="" class="btn shop__btn">Add To Cart</a>
      </section>
    </article>
    <article class="shop__box">
      <section class="shop__image">
        <picture class="shop__Image">
          <source srcset="./../img/product-1.avif" type="image/avif">
          <source srcset="./../img/product-1.webp" type="image/webp">
          <img loading="lazy" src="./../img/product-1.png" class="image" width="194" height="250" alt="">
        </picture>
        <section class="shop__icons">
          <div class="shop__icon">
            <img loading="lazy" src="./../img/eye-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/like-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/share-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
        </section>
      </section>
      <section class="shop__content">
        <h3 class="shop__boxTitle">Christmas Decore</h3>
        <p class="shop__price">$249.99 <span class="shop__oldPrice"> $289.99</span></p>
        <a href="" class="btn shop__btn">Add To Cart</a>
      </section>
    </article>
    <article class="shop__box">
      <section class="shop__image">
        <picture class="shop__Image">
          <source srcset="./../img/product-1.avif" type="image/avif">
          <source srcset="./../img/product-1.webp" type="image/webp">
          <img loading="lazy" src="./../img/product-1.png" class="image" width="194" height="250" alt="">
        </picture>
        <section class="shop__icons">
          <div class="shop__icon">
            <img loading="lazy" src="./../img/eye-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/like-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/share-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
        </section>
      </section>
      <section class="shop__content">
        <h3 class="shop__boxTitle">Christmas Decore</h3>
        <p class="shop__price">$249.99 <span class="shop__oldPrice"> $289.99</span></p>
        <a href="" class="btn shop__btn">Add To Cart</a>
      </section>
    </article>
    <article class="shop__box">
      <section class="shop__image">
        <picture class="shop__Image">
          <source srcset="./../img/product-1.avif" type="image/avif">
          <source srcset="./../img/product-1.webp" type="image/webp">
          <img loading="lazy" src="./../img/product-1.png" class="image" width="194" height="250" alt="">
        </picture>
        <section class="shop__icons">
          <div class="shop__icon">
            <img loading="lazy" src="./../img/eye-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/like-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/share-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
        </section>
      </section>
      <section class="shop__content">
        <h3 class="shop__boxTitle">Christmas Decore</h3>
        <p class="shop__price">$249.99 <span class="shop__oldPrice"> $289.99</span></p>
        <a href="" class="btn shop__btn">Add To Cart</a>
      </section>
    </article>
    <article class="shop__box">
      <section class="shop__image">
        <picture class="shop__Image">
          <source srcset="./../img/product-1.avif" type="image/avif">
          <source srcset="./../img/product-1.webp" type="image/webp">
          <img loading="lazy" src="./../img/product-1.png" class="image" width="194" height="250" alt="">
        </picture>
        <section class="shop__icons">
          <div class="shop__icon">
            <img loading="lazy" src="./../img/eye-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/like-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
          <div class="shop__icon">
            <img loading="lazy" src="./../img/share-svgrepo-com.svg" class="image" width="30" height="30" alt="">
          </div>
        </section>
      </section>
      <section class="shop__content">
        <h3 class="shop__boxTitle">Christmas Decore</h3>
        <p class="shop__price">$249.99 <span class="shop__oldPrice"> $289.99</span></p>
        <a href="" class="btn shop__btn">Add To Cart</a>
      </section>
    </article>

  </div>
</div>
