// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: 'Poppins', sans-serif;
  --content-width: 1566px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --header-width: 75px;

  // colors
  --light-color: #fff;
  --text-black: #222;
}
